header {
  padding: 2rem;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
}

h1 {
  font-size: var(--nav-font-size);
}

nav {
  flex: 1 1 0;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-size: var(--nav-font-size)
}